* {
  color: #555;
  line-height: 1.65;
}

a {
  color: #1D51A3;
}

a:hover {
  opacity: 0.7;
}

p {
  margin: 1.5rem 1rem;
}

hr {
  margin: 1rem 0 2rem;
  padding: 0;
  border: 0;
  height: 8px;
  background-image: repeating-linear-gradient(45deg, #555 0, #555 1px, transparent 0, transparent 50%);
  background-size: 8px 8px;
}

table {
  border-spacing: 0;
  margin: 1rem 0.5rem 2rem;
}

table th{
  border-bottom: solid 2px #1D51A3;
  padding: 0.5rem 2rem 0.2rem;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 0.5rem 2rem 0.2rem;
}

.wrapper {
  margin: 0 auto;
  width: 1072px;
}

.page {
  min-height: calc(100vh - 130px);
  padding-top: 130px;
}

.anchor_top {
  text-decoration: none;
}

.anchor_button {
  background: transparent;
  border: 0;
  display: block;
  width: 5rem;
  margin-left: auto;
  margin-right: 0;
}

.page_h2 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 2rem;
}

.page_h3 {
  font-weight: 400;
  margin: 0 0 2rem;
  color: #fff;
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: rgba(29, 81, 163, 0.8);
 }

 .page_h3::before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #555;
 }

 .page_h4 {
   font-weight: 400;
   font-size: 1.1rem;
   padding: 0 0 0 0.5rem;
   border-left: solid 6px #1D51A3;
   margin: 0 0 1rem;
 }

.column {
  width: 50%;
  margin: 1rem 1rem 2rem;
}

.column_2 {
  display: flex;
  justify-content: center;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube iframe {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
